@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
body{
    background-image: url("./Backy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
}
#logo{
    width: 550px;
}
#tap_tile_logo{
    display: flex;
    justify-content: end;
    margin-right: 130px;
    margin-top: 50px;
    padding-top: 15px;
}
.play-game-box{
    box-shadow: 0px 1px 27px 21px rgba(0, 0, 0, 0.25);
    width: 330px;
    /* height: 600px; */
    /* border-radius: 20px; */
    
}
.play-game{
    display: flex;
    justify-content: end;
    margin-right: 240px;
    
}
#game-img{
    width: 330px;
}
.play-btn{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#play-now{
    color: white;
    background-color: black;
    width: 145px;
    height: 55px;
    border-radius: 3px;
    font-size: 20px;
}
@media only screen and (max-width: 426px){
    body{
        background-image: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tap_tile_logo{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 65px;
        margin-top: 35px;
        
    }
    .play-game{
        display: flex;
        justify-content: end;
        margin-right: 0px;
        
    }
    #logo{
        width: 455px;
    }
}
@media only screen and (max-width: 322px){
    body{
        background-image: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tap_tile_logo{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 65px;
        
    }
    .play-game{
        display: flex;
        justify-content: end;
        margin-right: 0px;
        margin-left: 30px;
        margin-top: 30px;
        
    }
    #logo{
        width: 380px;
    }
}