@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body{
    background-image: url("Backy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
  }
  .canvasContainer{
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 0px;
  }
  .canvasContainer canvas{
    border: 0.5px solid #DDD;
  }
.score{
    position: absolute;
    top: 20%;
    left: 450px;
    width: 100%;
    font-size: 40px;
    text-shadow: 0px 0px 8px #FFF;
}
  .gameStart{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 0px;
    width: 100%;
    font-size: 1.8rem;
    text-shadow: 0px 0px 8px #FFF;
  }
  .gameEnd{
    position: absolute;
    top: 35%;
    left: 450px;
    width: 100%;
    font-size: 55px;
    text-shadow: 0px 0px 8px #FFF;
  }
  .high-score{
    position: absolute;
    top: 75%;
    left: 450px;
    width: 100%;
    font-size: 30px;
    text-shadow: 0px 0px 8px #FFF;
  }
  .name{
    position: absolute;
    top: 8%;
    left: 330px;
    width: 100%;
    font-size: 28px;
    text-shadow: 0px 0px 2px #FFF;
   
  }
  .canvasContainer button{
    background-color: #000000;
    color: #FFFfff;
    padding: 11px 17px;
    margin-top: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
  }
  /* to set initial game end to dsiplay none */
  .none{
    display: none;
  }
  h2{
    font-size: 40px;
  }
  .none {
    display: none;
  }
  #oops{
    position: relative;
    right: 450px;
  }
  
  @media only screen and (max-width: 426px){
    body{
      background-image: none;
    }
    .text{
      display: flex;
    }
    .name{
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0px;
      left: 0px;
      
      width: 100%;
      
      text-shadow: 0px 0px 2px #FFF;
     
    }
    #name-input{
      font-size: 35px;
    }
    .high-score{
      position: absolute; 
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 30px;
      margin-left: 2px;
      top: 50px;
      left: -65px; 
      width: 100%;
      font-size: 20px;
      text-shadow: 0px 0px 8px #FFF;
    }
    p{
      font-size: 26px;
      margin-left: 5px;
      
    }
    .score>h2{
      font-size: 26px;
    }
    .score{
      position: absolute;
      display: flex;
      margin-left: 30px;
      align-items: center;
      top: 50px;
      left: 40px;
      width: 100%;
      font-size: 40px;
      text-shadow: 0px 0px 8px #FFF;
  }
  .gameEnd{
    position: absolute;
    top: 25px;
    left: 0px;
    width: 100%;
    font-size: 55px;
    text-shadow: 0px 0px 8px #FFF;
  }
  h2{
    font-size: 20px;
  }
  .canvasContainer{
    padding-top: 80px;
  }
  }
  @media only screen and (max-width: 376px){
    .high-score{
      position: absolute; 
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 15px;
      margin-left: 2px;
      top: 50px;
      left: -42px; 
      width: 100%;
      font-size: 20px;
      text-shadow: 0px 0px 8px #FFF;
    }
    .score{
      position: absolute;
      display: flex;
      margin-left: 15px;
      align-items: center;
      top: 50px;
      left: 30px;
      width: 100%;
      font-size: 40px;
      text-shadow: 0px 0px 8px #FFF;
  }
  }
  @media only screen and (max-width: 321px){
    .score{
      position: absolute;
      display: flex;
      margin-left: 8px;
      align-items: center;
      top: 50px;
      left: 10px;
      width: 100%;
      font-size: 40px;
      text-shadow: 0px 0px 8px #FFF;
  }
  .high-score{
    position: absolute; 
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 8px;
    margin-left: 2px;
    top: 50px;
    left: -20px; 
    right: 0px;
    width: 100%;
    font-size: 20px;
    text-shadow: 0px 0px 8px #FFF;
  }
  }
  
