@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
body{
    background-image: url("./assets/background_blur.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#x{
    display: flex;
    justify-content: end;
}
.instructions{
    border-radius: 22px;
    background: #D9D9D9;
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.25);
    width: 500px;
    padding: 15px;
    margin-top: 20px;
    margin-right: 22px;
}
.instructions>div>h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.text{
    padding:25px;
}
li{
    font-size: 17px;
}
h4{
    font-size: 20px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 426px){
    body{
        background-image: none;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instructions{
       
        width: 350px;
        margin-right: 0;
    }
    .instructions>div>h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .text{
        padding:15px;
    }
}
@media only screen and (max-width: 375px){
    body{
        background-image: none;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instructions{
       
        width: 300px;
        margin-right: 0;
    }
    .instructions>div>h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
    }
    .text{
        padding:15px;
    }
    /* #x{
        width: 15px;
        display: flex;
        justify-content: end;
    } */
}
@media only screen and (max-width: 376px){
    body{
        background-image: none;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instructions{
       
        width: 250px;
        margin-right: 0;
    }
    .instructions>div>h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .text{
        padding:15px;
    }
    li{
        font-size: 12px;
    }
    h4{
        font-size: 15px;
        margin-bottom: 5px;
    }
}